# 5.- Listas y Tuplas

## 5.2.- Listas

Una lista generalmente tiene datos homogeneos

In [6]:
a = [1,2,3,4,5,5123123,5]

Tambien puede tener datos heterogeneos, como texto y numeros

In [18]:
A = [123,123321,"awndoawnd",True]

El primer elemento siempre es indice 0, y de ahi vas contando

In [2]:
print(a[0])

1

Usa len para conocer el numero de elementos en nuestra lista

In [4]:
print(len(a))

7

#Y que pasa si le hablamos con indices negativos?

In [7]:
print(a[-1])

5

Los indices siempre deben de ser enteros - y también se vale que sean expresiones

In [11]:
ax = 2
ay = 4
print(a[ax-ay])

5123123

PUedes cambiar elementos en particular

In [13]:
a[3] = 60
print(a)

[1, 2, 3, 60, 5, 5123123, 5]

Pero no en listas de caracteres

In [14]:
b= "Python"
b[5] = "n"
print(b)

TypeError: 'str' object does not support item assignment

¿Que pasa si llamamos un indice fuera de la lista?

In [15]:
a[7]

IndexError: list index out of range

Cada elemento puede usarse como una variable

In [16]:
mi_secuencia = []
for numero in range(-2,3):
    mi_secuencia.append(numero)
print(mi_secuencia)

[-2, -1, 0, 1, 2]

Vamos agregando elementos a una lista vacía

In [17]:
letras = []
letras += "Porejemplo"
print(letras)

['P', 'o', 'r', 'e', 'j', 'e', 'm', 'p', 'l', 'o']

Y es totalmente viable concatenar 2 listas

In [19]:
lista = A + a
print(lista)

[123, 123321, 'awndoawnd', True, 1, 2, 3, 60, 5, 5123123, 5]

#### Por tu cuenta

Arma una función que eleve al cuadrado dotos los elementos de una lista. Prueba con una lista con todos los numeros pares del 2 al 20.

In [20]:
def elevar_al_cuadrado_todos(lista_numeros):
    lista_cuadrados = []
    for numero in lista_numeros:
        lista_cuadrados.append(numero ** 2)
    return lista_cuadrados


lista_numeros_pares = []
for numero in range(2,21):
    if numero % 2 == 0:
        lista_numeros_pares.append(numero)

print(elevar_al_cuadrado_todos(lista_numeros_pares))

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

## 5.3.- Tuplas

Vamos comenzando con una tupla vacia

In [21]:
datos_cliente1 = ()

Ahora vamos a añadir 3 elementos a la tupla

In [23]:
datos_cliente1 = "paty",'F','23'
print(datos_cliente1)

('paty', 'F', '23')

Puedes llamar a los elementos individuales, arma un print que nos diga en que año nació paty (tiene 23 años al 2021)

In [24]:
print(datos_cliente1[0],"nacio en el año de ", 2021-int(datos_cliente1[2]))

paty nacio en el año de  1998

Es posible acceder a cualquier secuencia de elementos, asignando cada elemnto de la secuencia con una variable separada por comas

In [25]:
complemento_info = ('Feb','1998')

In [26]:
datos_c1 = datos_cliente1 + complemento_info
print(datos_c1)

('paty', 'F', '23', 'Feb', '1998')

Si en la tupla solo hay caracteres, vamos a armar un print que nos de cada letra por separado

In [29]:
primera,segunda = 'va'
print(f"{primera},{segunda}")

v,a

Y si son valores...

In [31]:
Estatura,Peso,Temperatura = (1.8,69,37.5)
print(f'{Estatura},{Peso},{Temperatura}')

1.8,69,37.5

También se puede acceder un valor al indexarlo - vamos  arecibir una lista con 3 estudiantes y convertirlo en una tupla enumerada

In [32]:
estudiantes = ['Hugo','Paco','Luis']
list(enumerate(estudiantes))

[(0, 'Hugo'), (1, 'Paco'), (2, 'Luis')]

#### Por tu cuenta

Crea una tupla de un solo elemento con el número 582.4 y luego muestrala

In [38]:
tuplas = (582.4)
print(f'{tuplas}')

582.4

#### Por tu cuenta

Muestra que pasa si intentas concatenar una lista de 3 enteros con una tupla de 3 enteros usando +

In [40]:
lista = [1,2,3]
tuplita = (4,5,6)

juntos = tuple(lista) + tuplita
print(juntos)

(1, 2, 3, 4, 5, 6)

## 5.4.- Separando Secuencias

Crea una secuencia con todas las potencias de 2 - del 2 al 256

In [ ]:
potencias2 = [2,4,8,16,32,64,128,264]

[16, 32]

Selecciona el 16 y 32

In [44]:
print(potencias2[3:5])

[16, 32]

Ahora selecciona los primeros 5 elementos

In [45]:
print(potencias2[:5])

[2, 4, 8, 16, 32]

Ahora vamos a seleccionar todos desde el 16 en adelante

In [46]:
print(potencias2[3:])

[16, 32, 64, 128, 264]

Si dejamos los : asi nomás, selecciona todo

In [47]:
print(potencias2[:])

[2, 4, 8, 16, 32, 64, 128, 264]

También podemos seleccionar elementos de 2 en 2 o de 3 en 3 o asi, deja :: y luego va el stepfunction

In [48]:
print(potencias2[::3])

[2, 16, 128]

Y si vamos de -3 en -3 significa que empieza desde el final

In [50]:
print(potencias2[::-3])

[264, 32, 4]

Ahora modifica los nombres de los primeros 3 elementos, - en vez de numero que sea su nombre en letra

In [52]:
potencias2[0:3] = ["dos","cuatro","ocho"]

print(potencias2)

['dos', 'cuatro', 'ocho', 16, 32, 64, 128, 264]

Mira, si le decimos qu elos elementos 0:2 van a estar [], entonces los borra

In [53]:
potencias2[0:2] = []
print(potencias2)

['ocho', 16, 32, 64, 128, 264]

#### Por tu cuenta

Crea una lista llamada números que contenga los valores del 1 al 15, haz las siguientes operaciones
-selecciona los numeros enteros
-reemplaza los elementos en indices 5 al 9 por 0s
-manten solo los primeros 5 elementos, y muestra la lista resultante
-Borra todos los elementos que quedan

In [55]:
numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
numeros[5:9] = [0] * 4
print(numeros)

[1, 2, 3, 4, 5, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15]

In [58]:
numeros[5:] = []
print(numeros)

[1, 2, 3, 4, 5]

In [59]:
numeros[:] = []
print(numeros)

[]

### 5.4.2 - Del

Ahora arma uan lista con todos los multiples de 10 del 0 al 90

In [66]:
multiplos10 = list(range(0,100,10))
print(multiplos10)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

Borra del 30 al 50

In [67]:
del multiplos10[3:6]
print(multiplos10)

[0, 10, 20, 60, 70, 80, 90]

A continuación, rearma la lista y borra cada segundo elemento

In [73]:
multiplos10 = list(range(0, 100, 10))
del multiplos10[::2]
print(multiplos10)

[10, 30, 50, 70, 90]

Y por último, borra la lista completa

In [74]:
del multiplos10[:]
print(multiplos10)

[]

#### Por tu cuenta

Crea una lista con los numeros del 1 al 15
- borra una parte que contenga los primeros 4 elementos, muestra tu resultado
- Empezando con el primer elemento, borra cada 2do elemento de la lista.

In [77]:
numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
del numeros[0:4]
print(numeros)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
del numeros[::2]
print(numeros)

[6, 8, 10, 12, 14]

## 5.5.- Listas Ordenadas

Vamos  armar la lista

edad = [65,26,28,36,18]

In [ ]:
edad = [65,26,28,36,18]

[18, 26, 28, 36, 65]

Ahora vamos a ordenarla usando sort()

In [80]:
edad.sort()
print(edad)

[18, 26, 28, 36, 65]

Ahora vamos aordenarla usando sort(reverse=true)

In [81]:
edad.sort(reverse=True)
print(edad)

[65, 36, 28, 26, 18]

También se puede usar la función sorted, que es una función que devuelve otra lista

In [82]:
edad = [65,26,28,36,18]
edades_ascendentes = sorted(edad)
print(edades_ascendentes)

[18, 26, 28, 36, 65]

Se pueden ordenar cadenas de caracters

In [83]:
nomrbe = "FRANCISCO"
letras_ascendentens = sorted(nomrbe)
print(letras_ascendentens)

['A', 'C', 'C', 'F', 'I', 'N', 'O', 'R', 'S']

Y también las tuplas, pero solo usando sorted

In [84]:
estudiantes = ("Hugo","Paco","Luis")
estud_ordenados = sorted(estudiantes)
print(estud_ordenados)

['Hugo', 'Luis', 'Paco']

### 5.5.2.- Buscando Secuencias

Ahora arma la lista

edad = [65,12,19,80,36,28,16,18,36,16,45,32,36,59]

In [85]:
edad = [65,12,19,80,36,28,16,18,36,16,36,16,45,32,36,59]

Y busca en ella la edad 45 usando el método index()

In [86]:
print(edad.index(45))

12

Si buscas algo que no esta, como 43, el resultado es...

In [87]:
print(edad.index(43))

ValueError: 43 is not in list

Tambien puedes usar el comando in, checa si 56 está in edad

In [88]:
56 in edad

False

### 5.5.3.- Otros Métodos de Lista

Arma una ensalada

vegetales = ['espinaca','apio']

In [90]:
vegetales = ["espinaca","apio"]

Usa el método insert() para meter 'lechuga' en la posición 0

In [91]:
vegetales.insert(0,'lechuga')

In [92]:
print(vegetales)

['lechuga', 'espinaca', 'apio']

Usa el método append() para meter 'esparragos' al final

In [93]:
vegetales.append('esparragos')

In [94]:
print(vegetales)

['lechuga', 'espinaca', 'apio', 'esparragos']

Agrega el precio usando el comando extend

Precio = (10,15,8,30)

In [95]:
Precio =(10,15,8,30)
vegetales.extend(Precio)
print(vegetales)

['lechuga', 'espinaca', 'apio', 'esparragos', 10, 15, 8, 30]

Quitale los esparragos a la ensalada usando remove()

In [97]:
vegetales.remove('esparragos')

In [98]:
print(vegetales)

['lechuga', 'espinaca', 'apio', 10, 15, 8, 30]

Tira la ensalada y ve por un platillo de hombre usando vegetales.clear()

In [99]:
vegetales.clear()
print(vegetales)

[]

### 5.5.4.- Contar

Arma una lista de edades

 edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]

In [102]:
edades = [15,21,16,19,20,16,19,15,21,17,18,24,20,24,21,19,18,16,19,16]

Usa count para saber cuantas vecs aparece la edad 16

In [103]:
print(edades.count(16))

4

Arma un for para contar cuantas veces se repite cada edad entre 15 a 25 en la lista

imprime tus resultados con la frase
La edad 15 se repite 2 veces
y asi...

In [104]:
for edad in range(15,25):
    print(f'la edad {edad} se repite {edades.count(edad)} veces')

la edad 15 se repite 2 veces
la edad 16 se repite 4 veces
la edad 17 se repite 1 veces
la edad 18 se repite 2 veces
la edad 19 se repite 4 veces
la edad 20 se repite 2 veces
la edad 21 se repite 3 veces
la edad 22 se repite 0 veces
la edad 23 se repite 0 veces
la edad 24 se repite 2 veces

Arma tu ensalada de nuevo

 vegetales = ['lechuga','espinaca','apio','pepinillo']

In [109]:
vegetales = ['lechuga','espinaca','apio','pepinillo']

Usa reverse para darle la vuelta

In [110]:
vegetales.reverse()

In [111]:
print(vegetales)

['pepinillo', 'apio', 'espinaca', 'lechuga']

Prepara una seguna ensalada usando copy

In [112]:
copia_vegetales = vegetales.copy()
print(copia_vegetales)

['pepinillo', 'apio', 'espinaca', 'lechuga']

## 5.6.- Comprensión de Listas

Vamos a armar una lista con todos los numeros del 1 al 10 de la manera mas mensa posible

empeiza con lista vacia, y luego un for que haga un append de todos los numeros del 1 al 10

In [113]:
lista1 = []
for dato in range(1,11):
    lista1.append(dato)
print(lista1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ahora hacemos lo mismo con la comprensión de listas

In [114]:
lista2 = [datp for datp in range(1,11)]
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tambien de plano podemos reemplazar todo eso por range

In [117]:
lista3 = list(range(1,11))
print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ahora vamos a mapear - hacer calculos dentro de la comprension de listas, en este caso todos los cuadrados del 1 al 10

In [118]:
cuad10 = [dato * dato for dato in range(1,11)]
print(cuad10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Ahora vamos a generar una comprensión de lista con filtro - todos los cuadrados del 1 al 10 siempre y cuando sean menores a 50

In [119]:
cuad = [dato * dato for dato in range(1,11) if dato *dato <= 50]
print(cuad)

[1, 4, 9, 16, 25, 36, 49]

Que tal que queremos una comprension de lista d etodos los cuadrados pares del 1 al 10?

In [120]:
cuad2 = [dato * dato for dato in range(1,11) if dato % 2 == 0]
print(cuad2)

[4, 16, 36, 64, 100]

Vuelve a armar tu ensalada

 vegetales = ['apio','brocoli','lechuga']

In [121]:
vegetales = ['apio','brocoli','lechuga']
print(vegetales)

['apio', 'brocoli', 'lechuga']

Arma una comprensión de lista que cambie todos estos a mayusculas

In [122]:
vegetales2 = [dato.upper() for dato in vegetales]
print(vegetales2)

['APIO', 'BROCOLI', 'LECHUGA']

#### Por tu cuenta

Arma una comprensión de lista que te devuelva tuplas de todos los numeros del 1 al 6 y sus cubos

In [126]:
lista_tupla =[(datos,datos**3) for datos in range(1,7)]
print(lista_tupla)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

#### Por tu cuenta

Arma una comprensión de lista que te devuelva todos los mutliples de 3 menores a 60

In [128]:
lista_no_se_que = [numero for numero in range(1,61) if numero % 3 == 0]
print(lista_no_se_que)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

### 5.6.2.- Generador de Expresiones

Arma esta lista

lista = [-3,5,8,4,1,-6,7,10]

In [129]:
lista = [-3,5,8,4,1,-6,7,10]

Arma un for que te muestre los cuadrados pares de esta lista

In [130]:
for valor in lista:
    cuadrado = valor **2
    if cuadrado % 2 ==0:
        print(cuadrado)

64
16
36
100

Ahora checa como podemos hacer lo mismo con el generador de expresiones

In [139]:
for valor in (x**2 for x in lista if x%2 == 0):
    cuadrados_pares = valor
    print(valor)

64
16
36
100

Y para ver los resultados usa list()

In [142]:
cuadrados_pares = (x**2 for x in lista if x % 2 == 0)
print(list(cuadrados_pares))

[64, 16, 36, 100]

#### Por tu cuenta

Crea una expresion generadora que eleve al cubo los enteros pares en uan lista que contiene 10,3,7,1,9,4

In [143]:
lista_hola = [10,3,7,1,9,4]
exp_generador = (x**3 for x in lista_hola if x % 2 ==0)
print(list(exp_generador))

[1000, 64]

### 5.6.3.- Filtrar, mapear y reducir

Primero vamos a definir una funcion que cheque si un numero es par

usaremos la lista lista=[-3,5,8,4,1,-6,7,10]

In [144]:
lista = [-3,5,8,4,1,-6,7,10]

In [145]:
def checar(lista):
    x = [numero_par for numero_par in lista if numero_par % 2 == 0]
    return x 
print(checar(lista))

[8, 4, -6, 10]

Ahoa vamos a filtrar la lista usando esta nueva función

In [146]:
list(filter(lambda x:x%2==0,lista))

[8, 4, -6, 10]

Podemos usar la comprensión de listas y nuestra nueva función para armar una lista

Cuando la funcion es tan sencilla, es mejor usar un lambda que andarla definiendo, como en este caso que hacemos lo mismo pero con lambda

In [ ]:
list(filter(lambda x:x%2==0,lista))

Vamos a usar lambda y map para mostrar una comprensión de lista que eleva todo al cubo, la lsita a usar sera

[-3, 5, 8, 4, 1, -6, 7, 10]

Podemos laograr lo mismo sin map

#### Por tu cuenta

Crea una lista con numeros del 1 al 15 y luego
- crea una nueva lista de los elementos impares
- crea una nueva lista usando map y lambda para elevar al cuadrado a todos
- filtra los elementos impares y luego mapealos a sus cuadrados

## 5.7.- Listas de 2 Dimensiones

Es posible crear una lista de 2 dimensiones en python

# 5.8.- Visualización de Datos Estáticos

Importa las librerias

Crea la grafica de barras incial

Pon la ventana y etiqueta los ejes

Finaliza la grafica de barras

Tira de nuevo usando magia

Guarda tu programa usando magia