# Pandas para los que vienen de Excel

Como la mayoría de ustedes tienen algo de familiaridad con Excel, vamos a ver varios ejemplos de como ciertos conceptos básicos de hoja de cálculo pueden ser realizados con pandas.

Lo primero será importar pandas

y Numpy

## Los elementos de Pandas vs Excel

DataFrame = hoja de trabajo

Series = Columna

Index = Encabezado de fila

NaN = celda vacia

## Importar datos a Pandas

Vamos trayendo nuestros datos del restaurand a un datafarme (desde csv)

Y nuestros costos a un segundo dataframe (desde excel)

## Operaciones en Pandas

Vamos creando una columan nueva de ganancias que será igual a precio menos costo de precios y costos

Vamos tirando la columna de "hora" del restaruant

Arma un nuevo dataframe con todos los platillos de más de 100 pesos de precio (usando filtros)

Arma una nueva columna que clasifique platillos en alto/bajo margen, según si su ganancia es mayor a 100 pesos

Cambiale el nombre a la columna de Atendió por Mesero en el df de Restaurant

## Merging o Vlookup

Vamos a juntar los 2 dataframes usando un left join

Cuales son las diferencias entre merge de Python y Vlookup de Excel?

## Quitar duplicados

Crea un nueva Serie con la columna de "Mesero" - obten los valores únicos

## Tablas Dinámicas

Pandas también nos permite analizar datos mediante tablas dinámicas

Vamos creando una tabla dinámica que nos muestre las ventas por categoría

Ahora una tabla dinámica que nos muestre las ventas por categoría y por tipo en la columna

Crea una tabla dináica que muestre las ventas por tipo y categoría (filas), y por mesero (columnas)

Crea una tabla dinámica que muestre las ventas promedio por mesero