# 9.- Archivos

## 9.2.-Archivos TXT

Lo primero que haremos será escribir a un archivo de texto con información extraordinariamente importante. 

A continuación los 4 influencers con más seguidores en tiktok del mundo (Febrero 2021)

@charlidamelio D’Amelio 108.1
@addisonre Addison 76.4
@zachking Zach 56.6
@bellapoarch Bella 56.3

In [1]:
with open('seguidores.txt',mode='w') as seguidores:
    seguidores.write('@charlidamelio D’Amelio 108.1\n')
    seguidores.write('@addisonre Addison 76.4\n')
    seguidores.write('@zachking Zach 56.6\n')
    seguidores.write('@bellapoarch Bella 56.3\n')

Ahora revisaremos los contenidos en python con el siguiente código:

In [3]:
with open('seguidores.txt', mode = 'r') as seguidores:
    print(f'{"Handle" :<20}{"Nombre" :<10}{"num_seg" :>10}')
    for record in seguidores:
        handle,nombre,num_seg = record.split()
print(f'{handle:<20}{nombre:<10}{num_seg:>10}')

Handle              Nombre       num_seg
@bellapoarch        Bella           56.3

Que pasa si queremos modificar el carhivo desde python? Es un problema

In [5]:
seguidores = open('seguidores.txt','r')
temporal = open('temporal.txt','w')
with seguidores,temporal:
    for record in seguidores:
        handle,nombre,num_seg = record.split()
        if handle != '@charlidamelio':
            temporal.write(record)
        else:
            nuevo_nombre = ' '.join([handle,'Charlie',num_seg])
            temporal.write(nuevo_nombre + '\n')

## 9.3.- Archivos JSON

Consideremos el siguiente diccionario que habla de tiktok

seguidores_dicc={'seguidores\n':[
 {'handle':'@charlidamelio', 'name':'Charlie', 'num_seg':108.1},
 {'handle':'@addisonre', 'name':'Addison', 'num_seg':76.4},
 {'handle':'@zachking', 'name':'Zach', 'num_seg':56.6},
 {'handle':'@bellapoarch', 'name':'Bella', 'num_seg':56.3}]}

In [6]:
seguidores_dicc={'seguidores\n':[
 {'handle':'@charlidamelio', 'name':'Charlie', 'num_seg':108.1},
 {'handle':'@addisonre', 'name':'Addison', 'num_seg':76.4},
 {'handle':'@zachking', 'name':'Zach', 'num_seg':56.6},
 {'handle':'@bellapoarch', 'name':'Bella', 'num_seg':56.3}]}

Para escribir este objeto con el formato JSON

In [8]:
import json
with open('seguidores.json','w') as seguidores:
    json.dump(seguidores_dicc,seguidores)

Ahora recuperemos los datos del archivo JSON con la función load

In [9]:
with open('seguidores.json','r') as seguidores:
    seguidores_json = json.load(seguidores)
seguidores

In [10]:
{'seguidores':
[{'handle': '@charlidamelio', 'name': 'Charlie', 'num_seg': 108.1},
{'handle': '@addisonre', 'name': 'Addison', 'num_seg': 76.4},
{'handle': '@zachking', 'name': 'Zach', 'num_seg': 56.6},
{'handle': '@bellapoarch', 'name': 'Bella', 'num_seg': 56.3}]}

{'seguidores': [{'handle': '@charlidamelio',
   'name': 'Charlie',
   'num_seg': 108.1},
  {'handle': '@addisonre', 'name': 'Addison', 'num_seg': 76.4},
  {'handle': '@zachking', 'name': 'Zach', 'num_seg': 56.6},
  {'handle': '@bellapoarch', 'name': 'Bella', 'num_seg': 56.3}]}

Ahora accede al diccionario asociada a la llave seguidores

In [15]:
seguidores_json = {
    'seguidores': [
        {'handle': '@charlidamelio', 'name': 'Charlie', 'num_seg': 108.1},
        {'handle': '@addisonre', 'name': 'Addison', 'num_seg': 76.4},
        {'handle': '@zachking', 'name': 'Zach', 'num_seg': 56.6},
        {'handle': '@bellapoarch', 'name': 'Bella', 'num_seg': 56.3}
    ]
}

Y obten registros indivudales de 0 y 3

In [16]:
seguidores_json['seguidores'][0]

{'handle': '@charlidamelio', 'name': 'Charlie', 'num_seg': 108.1}

In [17]:
seguidores_json['seguidores'][3]

{'handle': '@bellapoarch', 'name': 'Bella', 'num_seg': 56.3}

## 9.4.- Manipulación de Excepciones

Una excepción es un error, como dividir entre 0

In [18]:
4/0

ZeroDivisionError: division by zero

Y la excepción d etipo value error, que ocurre cuando intentas convertir una cadena en entero

In [19]:
int('hola mundo')

ValueError: invalid literal for int() with base 10: 'hola mundo'

Que pasa si quiero dar continuidad a la ejecución dle programa?

Vamos a hacer un programa que divida por 0 - vamos a necesitar usar While, trye, except, except y else

In [20]:
#programa_c9
while True:
    try:
        numerador = int(input('Ingresa el numerador'))
        denominador = int(input('Ingresa el dominador'))
        cociente = numerador/denominador
    except ValueError:
        print('Debes ingresar dos números enteros\n')
    except ZeroDivisionError:
        print('Hay una division entre cer\n')
    else:
        print(f'{numerador:.1f}/{denominador:.1f}={cociente:.1f}')
        break

Debes ingresar dos números enteros

Hay una division entre cer

36.0/9.0=4.0

## 9.5.- Archivos CSV

Primero crearemos un archivo CSV con los seguidores de TikTok

In [23]:
import csv
with open('seguidores.csv', mode='w',newline='') as seguidores:
    writer=csv.writer(seguidores)
    writer.writerow(['@charlidamelio', 'Charlie', 108.1])
    writer.writerow(['@addisonre', 'Addison', 76.4])
    writer.writerow(['@zachking', 'Zach', 56.6])
    writer.writerow(['@bellapoarch', 'Bella', 56.3])

Ahora leeremos nuestro mismo archivo

In [24]:
with open('seguidores.csv','r', newline='') as seguidores:
    print(f'{"Handle":<20}{"Nombre":<10}{"Seguidores":>10}')
    lectura=csv.reader(seguidores)
    for record in lectura:
        handle, nombre, num_seg=record
        print(f'{handle:<20}{nombre:<10}{num_seg:>10}')

Handle              Nombre    Seguidores
@charlidamelio      Charlie        108.1
@addisonre          Addison         76.4
@zachking           Zach            56.6
@bellapoarch        Bella           56.3

## 9.6.- Lectura de CSV con DataFrame de Pandas

Vamos a leer el archivo del gimnasio

In [25]:
import pandas as pd
datosgym = pd.read_csv('datos_gimnasio.csv')

In [29]:
pd.set_option('display.precision',1) # muestra solo un valor decimal
datosgym.head()

  codigo_user Género  Peso  Cintura  Pulso  Lagartijas  Sentadillas  Saltos
0    usuario1      M  86.6     91.4     50           5          162      60
1    usuario2      M  85.7     94.0     52           2          110      60
2    usuario3      M  87.5     96.5     58          12          101     101
3    usuario4      F  73.5     88.9     62          12          105      37
4    usuario5      M  85.7     88.9     46          13          155      58

Ahora mostraremos oslo las últimas 5 filas

In [30]:
datosgym.tail()

   codigo_user Género  Peso  Cintura  Pulso  Lagartijas  Sentadillas  Saltos
15   usuario16      M  91.6     94.0     62          12          210     120
16   usuario17      F  79.8     94.0     54           4           60      25
17   usuario18      M  71.2     81.3     52          11          230      80
18   usuario19      F  70.8     83.8     54          15          225      73
19   usuario20      F  62.6     83.8     68           2          110      43

Vamos a modificar los encabezados del data frame

In [33]:
datosgym.columns=['Código','Género','Peso','Cintura','Pulso',
 'Lagartijas','Sentadillas','Saltos']
datosgym.head()

     Código Género  Peso  Cintura  Pulso  Lagartijas  Sentadillas  Saltos
0  usuario1      M  86.6     91.4     50           5          162      60
1  usuario2      M  85.7     94.0     52           2          110      60
2  usuario3      M  87.5     96.5     58          12          101     101
3  usuario4      F  73.5     88.9     62          12          105      37
4  usuario5      M  85.7     88.9     46          13          155      58

Y ahora usamos describe para obtener un resumen de las estadisticas de los datos

In [34]:
datosgym.describe()

        Peso  Cintura  Pulso  Lagartijas  Sentadillas  Saltos
count   20.0     20.0   20.0        20.0         20.0    20.0
mean    81.0     89.9   56.1         9.4        145.6    70.3
std     11.2      8.1    7.2         5.3         62.6    51.3
min     62.6     78.7   46.0         1.0         50.0    25.0
25%     72.9     83.8   51.5         4.8        101.0    39.5
50%     79.8     88.9   55.0        11.5        122.5    54.0
75%     86.9     94.0   60.5        13.2        210.0    85.2
max    112.0    116.8   74.0        17.0        251.0   250.0

Que tal que solo queremos estadisticas de mujeres? 👩🏻

In [35]:
(datosgym.Género == 'F').describe()

count       20
unique       2
top       True
freq        11
Name: Género, dtype: object

Hagamos una grafica de los datos del gym 📊